@import "./variables";

body {
  background: #fff;
  font-family: $primary-font-family;
  padding: 0;
  margin: 0;
}

.progressIcon {
  text-align: center;
}

h1 {
  font-family: $primary-font-family;

}

