@import './variables';

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  a {
    text-decoration: none;
  }
}

.card {
  padding: 1rem;


  img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    cursor: pointer;

  }
  .car-name {
    font-size: 1.3em;
    font-weight: 700;
    color: #1a1a1a;
    cursor: pointer;
  }

  .car-price {
    margin-top: .2rem;
    font-size: 1.4rem;
    color: #80828a;
    font-weight: 700;
    cursor: pointer;
  }
}

.header {
  font-size: 1.6rem;
  margin: 78px auto 81px;
  text-align: center;
}