.colors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 50px;
  text-align: center;

  .color {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    margin: 1px 0 0 2px;

  }

  .border {
    padding: 3px;
    width: 52px;
    height: 52px;
    border-radius: 33px;
    margin: 0 auto;
    border: 4px solid #fff;
    cursor: pointer;
    transition: border 1s;

    &:hover {
      border: 4px solid #ccc;
    }

    &.active {
      border: 4px solid #2d80d5;
    }
  }

  .color-name {
    margin: 7px;
  }
}