@import './variables';

.error-message {
  background: #fff;
  font-family: $primary-font-family;
  padding: 20px;
  margin: 20px;
  color: $primary-color;
  position: absolute;
  top: 50%;
  left: 50%;
}