@import './variables';

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.left-column {
  height: 100vh;
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #f2f4f3;

  img {
    max-width: 100%;
  }

  .trim-code {
    margin: 84px 0 0 58px;
    font-size: 1.1em;
  }

  .trim-name {
    margin: 0 0 0 58px;
    font-size: 1.4em;
    font-weight: 700;
  }

  .trim-price, .trim-color-name {
    margin: 50px auto 0;
    text-align: center;

    .value {
      font-weight: 700;
      font-size: 1.4em;
    }
  }
}

.right-column {
  height: 100vh;

  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  background-color: $secondary-color;

  .header {
    margin: 82px auto 78px;
  }

  .arrows-place {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 528px;
  }

  .arrow-button {
    background-color: $secondary-color;
    width: 126px;
    height: 96px;
    background-size: 30% 30%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    
    &.left {
      float: left;
      background-image: url('../../assets/arrow_right.svg');
      transform: rotate(180deg);
    }

    &.right {
      float: right;
      background-color: $primary-color;
      border: 1px solid $secondary-color;
      background-image: url('../../assets/arrow_right.svg');
    }

    &.proceed {
      float: right;
      background-color: $primary-color;
      border: 1px solid $secondary-color;
      height: 100px;
      line-height: 100px;
      width: 200px;
      font-size: 1.3em;
      text-align: center;
      color: $secondary-color;
    }
  }
}

.trim-button {
  width: 352px;
  height: 117px;
  text-align: center;
  display: table;
  margin: 0 88px 34px;
  cursor: pointer;
  border: 1px solid $primary-color;
  color: $primary-color;
  transition: background 1s;

  .text {
    display: table-cell;
    vertical-align: middle;
  }

  .trim-name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 12px;
  }

  &.active {
    background-color: $primary-color;
    color:$secondary-color;
    .trim-name {

    }
  }
}



